.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: 100vh;
  padding: 15%;
}

.email-field{
  margin-bottom: 16px;
  background-color: #fff;
}

.textarea{
  background-color: #fff;

}

.card-cont{
  width: 400px;
  box-shadow: none;
  border: none;
  background-color: #f4f4f4;
}

.form-btn{
  width: 100%;
  border-radius: 0px;
  background-color: brown;
}

nav{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #888;
  padding: 16px;
  width: 100%;
}